<!-- Swiper JS -->
<script src="./swiper.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container');
</script>

<!--Swipe-->


<h2 style="text-align:center">HAXMAS</h2>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">


            <div class="card">
                <img src="" style="width:100%">
                <h1>HAXMAS Alert</h1>
                <!--<p class="title">CEO & Founder, Example</p>-->
                <div style="margin: 24px 0;">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="text">
    <center>
        <h4>Use #haxmas to see your tweet up here!</h4>
    </center>

</div>

</div>


<!-- Swiper JS -->
<script src="../js/swiper.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container');
</script>



<script>

    var element = document.getElementById('swipe');
    window.mySwipe = Swipe(element, {
        startSlide: 0,
        auto: 3000,
        autoRestart: true,
        continuous: true,
        disableScroll: true,
        stopPropagation: true,
        callback: function (index, element) { },
        transitionEnd: function (index, element) { }
    });

</script>
<script src="js/index.js"></script>